<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClasesBase.Properties.Settings.comdepConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Franc\Documents\GitHub\lpoo1-2024-g3\comdep.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>