<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClasesBase.Properties.Settings.comdepConnection" connectionString="Data Source=sql.bsite.net\MSSQL2016;Initial Catalog=fige_comdep;Persist Security Info=True;User ID=fige_comdep;Password=fige_password"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>