<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClasesBase.Properties.Settings.comdepConnection" connectionString="Data Source=.\SQLEX2008SP1;AttachDbFilename=&quot;C:\Users\alexo\workspace\Desarrollo APU\Laboratorio POO\LPOO1_PROJECT_G3\comdep.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>